<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <title>Mastermind</title>
  </head>
  <body>
      <h1>MasterMind</h1>
      <div class="main_container">
        <h2>Please choose:</h2>
        <div class="game_container">
          <input type="submit" name="newgame" value="NewGame">
          <input type="submit" name="how_to" value="How to play">
        </div>
      </div>
      <div class="footer">
        <h6 class="game">MasterMind</h6>
        <h6 class="created">Created by: Sebastien Chatelle Blanchard</h6>
      </div>
  </body>
</html>
