<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <title>Mastermind</title>
  </head>
  <body>
    <h1>MasterMind</h1>

    <div class="main_container">
      <%= yield %>
    </div>

    <div class="footer">
      <h6 class="game">MasterMind</h6>
      <h6 class="created">Created by: Sebastien Chatelle Blanchard</h6>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascript.js"></script>
  </body>
</html>
