<div id="play_area" class="button_wrap">

  <div class="play_column">
    <h2>Guesses</h2>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
  </div>
  <span id="divider"></span>
  <div class="play_column">
    <h2>Feedback</h2>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
  </div>

</div>
