<div id="play_area" class="button_wrap">

  <div class="play_column">
    <h2>Guesses</h2>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
  </div>
  <span id="divider"></span>
  <div class="play_column">
    <h2>Feedback</h2>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
    <div class="pin_wrap">
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
      <div class="play_pin"></div>
    </div>
  </div>

</div>

<span id="divider_horizontal"></span>

<div id="next_guess_container">

  <% if params["code_maker_submit"] %>
    <h2>Code:</h2>
    <div class="pin_wrap">
      <div id="pin1" class="answer_pin"></div>
      <div id="pin1" class="answer_pin"></div>
      <div id="pin1" class="answer_pin"></div>
      <div id="pin1" class="answer_pin"></div>
    </div>

  <% else %>
  <h2>Next Guess:</h2>
    <div class="pin_wrap">
      <div id="pin1" class="pin"></div>
      <div id="pin2" class="pin"></div>
      <div id="pin3" class="pin"></div>
      <div id="pin4" class="pin"></div>
    </div>
  <% end %>

  <form>
    <input type="submit" id="play_next" value="Make Move"></button>
  </form>
</div>
