<div id="play_area" class="button_wrap">

  <div class="play_column">
    <h2>Guesses</h2>
    <% for x in 0..11 do %>
    <div class="pin_wrap">
      <% for y in 0..3 do %>
        <div class="play_pin"></div>
      <% end %>
    </div>
    <% end %>
  </div>

  <span id="divider"></span>

  <div class="play_column">
    <h2>Feedback</h2>
    <% for x in 0..11 do %>
    <div class="pin_wrap">
      <% for y in 0..3 do %>
        <div class="play_pin"></div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>

<span id="divider_horizontal"></span>

<div id="next_guess_container">

  <% if params["code_maker_submit"] %>
    <h2>Secret Code:</h2>
    <div class="pin_wrap">
      <div style="background-color: <%= @color1 %>;" id="pin1" class="answer_pin"></div>
      <div style="background-color: <%= @color2 %>;" id="pin1" class="answer_pin"></div>
      <div style="background-color: <%= @color3 %>;" id="pin1" class="answer_pin"></div>
      <div style="background-color: <%= @color4 %>;" id="pin1" class="answer_pin"></div>
    </div>

  <% else %>
  <h2>Next Guess:</h2>
    <div class="pin_wrap">
      <div id="pin1" class="pin"></div>
      <div id="pin2" class="pin"></div>
      <div id="pin3" class="pin"></div>
      <div id="pin4" class="pin"></div>
    </div>
    <form id="next_guess" method="post" action="/codebreaker">
      <input type="submit" id="play_next" value="Make Move">
    </form>
  <% end %>

</div>
