body {
  overflow: hidden;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 4px;
  color: #cc0000;
  font: bold 40px Arial, Helvetica, sans-serif;
}
.main_container{
  left: 0;
  right: 0;
  margin-left: 0 auto;
  background-color: #ff6666;
  width: 55%;
  max-width: 400px;
  min-height: 84%;
  max-height: 800px;
  margin: auto;
  position: absolute;
  border-radius: 25px;
}
.main_container h2 {
  text-align: center;
  padding-top: 55px;
  margin: 0;
  clear: both;
  font: bold 30px Arial, Helvetica, sans-serif;
  color: white;
}
.control{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px;
  border-radius: 20px;
  height: 22%;
  width: 63%;
  text-align: center;
  border: 5px solid white;
  background-color: #ff6666;
  font: bold 25px Arial, Helvetica, sans-serif;
  color: white;
  box-shadow: 5px 8px 25px #ff3333;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.button_wrap{
  top: 0;
  position: absolute;
  margin: auto;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu{
  right: 0px;
}
#player_type{
  right: -2000px;
}
#code_maker{
  right: -500px;
}
.pin_wrap{
  align-items: center;
  justify-content: center;
  background-color: #ff6666;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 80%;
  border: 5px solid white;
  border-radius: 20px;
}
.pin{
  margin: 10px;
  background-color: grey;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  bottom: 0;
}
#back_arrow path{
  fill: white;
}
#back_arrow{
  bottom: 0;
  padding-bottom: 20px;
  position: absolute;
}
#back_arrow:hover{
  padding-bottom: 16px;
}
.control:hover{
  background-color: #ff9999;
  color: white;
  border-radius: 10px;
  letter-spacing: 3px;
  box-shadow: 7px 10px 25px #ff1a1a;
  cursor: pointer;
}
.footer {
  background-color: #ffe6e6;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem
}
.footer h6 {
  margin-top: 30px;
  margin-bottom: 12px;
  color: #ff6666;
  font: bold 14px arial, sans-serif;
}
.game {
  float: left;
}
.created{
  float: right;
}
#instruction {
  z-index: 2;
  position: absolute;
  top: 140px;
  left: -2000px;
  border: 5px solid #cc0000;
  border-radius: 25px;
  background-color: white;
  box-shadow: 10px 5px 20px #ff9999;
  height: 65%;
  width: 180%;
  max-width: 800px;
  list-style: circle;
  overflow: auto;
}
.logo {
  height: 45px;
  width: 45px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#close{
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  padding: 10px 10px 0px 0px;
}
#close path{
  fill: #ff6666;
}
#close:hover{
  padding: 6px 6px 0px 0px;
}
.logo path {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#close:hover path{
  fill: #cc0000;
}
.logo:hover {
  cursor: pointer;
  height: 53px;
  width: 53px;
}
#instruction h2{
  padding: 15px 0px 0px 10px;
  float: left;
  top: 0;
  left: 0;
  color: #ff6666;
}
#instruction h4{
  color: #ff6666;
  display: block;
  clear: both;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 12px;
  margin-left: 20px;
  font: 16px bold arial, sans-serif;
}
#instruction p{
  clear: both;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 20px;
  font: arial, sans-serif;
}
#instruction ul{
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 5px;
  font: 14px arial, sans-serif;
}
#first_p{
  text-align:right;
  padding-top: 50px;
  font: bold 14px arial, sans-serif;
}
