body {
  overflow: hidden;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 4px;
  color: #cc0000;
  font: bold 40px Arial, Helvetica, sans-serif;
}
.main_container{
  justify-content: center;
  display: flex;
  left: 0;
  right: 0;
  background-color: #ff6666;
  width: 55%;
  max-width: 400px;
  min-height: 84%;
  max-height: 800px;
  margin: auto;
  position: absolute;
  border-radius: 25px;
}
.main_container h2 {
  text-align: center;
  padding-top: 55px;
  margin: 0;
  clear: both;
  font: bold 30px Arial, Helvetica, sans-serif;
  color: white;
}
.control, input[type="submit"]{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px;
  border-radius: 20px;
  height: 22%;
  width: 63%;
  text-align: center;
  border: 5px solid white;
  background-color: #ff6666;
  font: bold 25px Arial, Helvetica, sans-serif;
  color: white;
  box-shadow: 5px 8px 25px #ff3333;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.button_wrap{
  top: 0;
  position: absolute;
  margin: auto;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu{
  right: 0px;
}
#player_type{
  right: -2000px;
}
#code_breaker_menu{
  right: -2000px;
  justify-content: flex-start;
}
#code_maker_menu{
  right: -2000px;
  justify-content: flex-start;
}
.button_wrap h2{
  padding-top: 130px;
  padding-bottom: 10px;
}
.pin_wrap{
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  z-index: 2;
}
.pin{
  margin: 10px;
  background-color: rgba(209, 199, 199, 0.8);
  border: 4px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  bottom: 0;
  z-index: 3;
}
.pin:hover{
  cursor: pointer;
}
.code_chooser_wrap{
  text-align: center;
  height: 300px;
  width: 80%;
  border: 5px solid white;
  border-radius: 20px;
  background-color: #ff6666;
}
.code_chooser_wrap h4{
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  clear: none;
}
#back_arrow path{
  fill: white;
}
#back_arrow{
  position: absolute;
  right: -2000px;
  bottom: 0;
  margin-bottom: 20px;
  padding-left: 4px;
  padding-right: 4px;
}
#back_arrow:hover{
  margin-bottom: 16px;
  padding-left: 0px;
  padding-right: 0px;
}
.control:hover, input[type="submit"]:hover{
  background-color: #ff9999;
  color: white;
  border-radius: 10px;
  letter-spacing: 3px;
  box-shadow: 7px 10px 25px #ff1a1a;
  cursor: pointer;
}
form{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}
input[type="submit"]{
  margin-top: 120%;
}
input.inactive {
  background-color: rgba(209, 199, 199, 0.8);
  cursor: auto;
  border-radius: 20px;
  letter-spacing: normal;
}
input.inactive:hover{
  cursor: auto;
  border-radius: 20px;
  letter-spacing: normal;
  background-color: rgba(209, 199, 199, 0.8);
}
.footer {
  background-color: #ffe6e6;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem
}
.footer h6 {
  margin-top: 30px;
  margin-bottom: 12px;
  color: #ff6666;
  font: bold 14px arial, sans-serif;
}
.game {
  float: left;
}
.created{
  float: right;
}
#instruction {
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 140px;
  left: -2000px;
  border: 5px solid #cc0000;
  border-radius: 25px;
  background-color: white;
  box-shadow: 10px 5px 20px #ff9999;
  height: 65%;
  width: 180%;
  max-width: 800px;
  overflow: auto;
}
.logo {
  height: 45px;
  width: 45px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#close{
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  padding: 10px 10px 0px 0px;
}
#close path{
  fill: #ff6666;
}
#close:hover{
  padding: 6px 6px 0px 0px;
}
.logo path {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#close:hover path{
  fill: #cc0000;
}
.logo:hover {
  cursor: pointer;
  height: 53px;
  width: 53px;
}
#instruction h2{
  padding: 15px 0px 0px 10px;
  float: left;
  top: 0;
  left: 0;
  color: #ff6666;
}
#instruction h4{
  color: #ff6666;
  display: block;
  clear: both;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 12px;
  margin-left: 20px;
}
h4{
  font: 16px bold arial, sans-serif;
}
#instruction p{
  clear: both;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 20px;
  font: arial, sans-serif;
}
#instruction ul{
  list-style-type: none;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 5px;
  font: arial, sans-serif;
}
#first_p{
  text-align:right;
  padding-top: 50px;
}
.play_column>.pin_wrap{
  margin-top: 10px;
  left: 0;
}
#play_area{
  justify-content: flex-start;
  flex-direction: row;
}
.play_pin{
  display: flex;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: rgba(209, 199, 199, 0.8);
  border: 4px solid white;
  margin-left: 2px;
  margin-right: 2px;
}
.play_column{
  column-rule: 2px solid black;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.play_column h2{
  padding-top: 25px;
}
#divider{
  display: flex;
  align-self: flex-start;
  margin-top: 87px;
  height: 63%;
  width: 2px;
  background-color: #cc0000;
  opacity: 0.4;
}
#next_guess_container{
  height: 23%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
#next_guess_container h2{
  padding-top: 10px;
}
#divider_horizontal{
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #cc0000;
  opacity: 0.4;
  bottom: 23%;
}
#next_guess_container .pin_wrap{
  margin-top: 0px;
}
#next_guess_container form{
  height: 50%;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}
#next_guess_container input[type="submit"]{
  height: 50%;
  width: 63%;
  text-align: center;
  border: 5px solid white;
  font: bold 25px Arial, Helvetica, sans-serif;
  color: white;
  box-shadow: 5px 8px 25px #ff3333;
  margin-bottom: 12px;
  margin-top: 0px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 3;
}
.answer_pin{
  margin: 10px;
  background-color: rgba(209, 199, 199, 0.8);
  border: 4px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  bottom: 0;
  z-index: 3;
}
